.homepage {
  .cover-container {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    min-width: 30%;
    height: 400px;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    overflow: hidden;
    // height: 240px;
    // border-top: 1px  rgba(168, 161, 161, 0.315);
    // margin: 0 7.5px 15px;

    .background-img {
      position: absolute;
      height: 100%;
      width: 100%;
      background-position: center bottom;
      background-size: cover;
      filter: blur(2px);
    }
  }
}

@import '~compass-mixins/lib/compass/css3';

.testimonial-quote blockquote {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 1px black;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.6em 0 1em;
  margin: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 30px 15px 30px 50px;
}

.testimonial-quote img {
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
}

.testimonial-quote cite {
  color: white;
  font-weight: bold;
  display: block;
  font-size: 0.8em;
  text-shadow: none;
}

// .testimonial-quote cite span {
//   color: #5e5e5e;
//   font-size: 1em;
//   font-style: normal;
//   font-weight: 700;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   text-shadow: 0 1px white;
// }

.testimonial-quote {
  position: relative;
}

// .testimonial-quote .quote-container {
//   padding-left: 160px;
// }

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

// .testimonial-quote.right img {
//   left: auto;
//   right: 0;
// }

.testimonial-quote.right cite {
  text-align: right;
}

.rating {
  font-size: 14px;

  & .gold {
    color: #ffc107; /* Personal color choice. Lifted from Bootstrap 4 */
  }

  & .grey {
    color: rgba($color: white, $alpha: 0.85);
  }
}
