// @import '~compass-mixins/lib/compass/css3';

.homepage {
  .cover-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));

    min-width: 30%;
    height: 400px;
    /** This is equivalent to flex: 1 1 auto. Beware, this is not the default value. 
    It sizes the item based on its width/height properties, but makes it fully flexible 
    so that they absorb any extra space along the main axis. */
    flex: 1 1 auto;
    // justify-items: start;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;
    // height: 240px;
    // border-top: 1px  rgba(168, 161, 161, 0.315);
    // margin: 0 7.5px 15px;

    .background-img {
      position: absolute;
      height: 100%;
      width: 100%;
      background-position: center center;
      @media (max-width: 1300px) {
        background-position: center bottom;
      }
      background-size: cover;
      filter: blur(1px);
    }

    .testimonial-quote {
      // start from the right
      // grid-column-end: -1;
      // start from the left
      grid-column-start: 1;
      // justify div's content to the right
      justify-self: center;
      align-self: center;
      position: relative;
      padding-left: 30px;
      padding-right: 100px;

      @media (max-width: 1000px) {
        align-self: flex-start;
        padding-left: 10px;
        padding-right: 100px;
      }

      img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 80%;
        left: 90%;

        border-color: white;
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-radius: 50%;
        // padding: 15px;
        width: 95px;
        height: 95px;
      }
      .quote-container {
        .blockquote {
          height: 100%;
          width: 120%;

          color: white;
          font-size: 1.2em;
          font-weight: bold;
          text-shadow: 0 1px black;
          text-align: center;

          background-color: rgba(0, 0, 0, 0.4);
          padding: 0.6em 0.2em 1em;
          margin: 10px;
          border-color: #f1f1f1;
          border-style: solid;
          border-width: 4px 2px 2px 3px;
          // border-width: 0 4px 4px 0;
          // border-radius: 10px 10px 30px 10px;
          .rating {
            font-size: 0.5em;
            & .gold {
              color: #ffc107;
            }

            & .grey {
              color: rgba($color: white, $alpha: 0.85);
            }
          }
        }

        .cite-container {
          display: flex;
          justify-content: flex-end;
          .cite {
            background-color: rgba(0, 0, 0, 0.4);
            color: rgb(255, 255, 255);
            font-size: 0.8em;
            text-shadow: none;
            text-align: right;
            span {
              font-size: 1.05em;
              font-weight: bolder;
              border-bottom: 1px solid;
              margin: 4px;
            }
            p {
              margin: 4px;
            }
          }
        }
      }
    }
  }
}
