.header-styles {
  .navbar-brand {
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    cursor: pointer;
    text-transform: uppercase;
  }

  .logo-container {
    height: 100%;
    width: 6rem;
  }

  // how to make navbar-nav center-aligned:
  // https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .navbar-nav > li {
    display: inline-block;
    float: none;
  }
}
