.header-styles {
  .brand-name-container {
    cursor: pointer;
    // display: flex;
    // flex-direction: row;
  }

  .logo-container {
    cursor: pointer;
    height: 100%;
    width: 6rem;
  }

  // how to make navbar-nav center-aligned:
  // https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar

  .nav-item {
    cursor: pointer;
    text-transform: uppercase;
  }

  // .navbar-nav {
  //   float: none;
  //   margin: 0 auto;
  //   display: flex;
  //   flex-direction: row;
  //   text-align: center;
  // }

  // .navbar-nav > li {
  //   display: inline-block;
  //   float: none;
  // }
}
